:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
 }
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color);
 }
/* font-family: 'Merriweather Sans', sans-serif; */

body {
    background-color: var(--body-bg-color);
}
/* CSS do card de perfil começa aqui */
.card-profile {
    position: absolute;
    width: 348px;
    height: 292px;
    left: 40px;
    top: 40px;
    background-color: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

.profile-photo {
    position: absolute;
    top: 32px;
    width: 128px;
    height: 128px;

    border-radius: 50%;
    background-image: url();
    background-size: cover;
    border: 2px solid #2c5ec9;
}
.editName {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 32px;
}


.card-profile input {
    background: transparent;
    border-color: transparent;
    border-bottom-color:#2c5ec9;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: var(--text-color);
    width: 1ch;
    max-width: 15ch;
    text-align: center;
}
.card-profile input:focus {
    background-color: transparent;
    outline: none;
}
.name {
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    color: var(--text-color);

}
.editIcon {
    width: 24px;
    margin-left: 5px;
    filter: invert(53%) sepia(9%) saturate(1011%) hue-rotate(209deg) brightness(95%) contrast(83%);
}
.editIcon:hover {
    width: 24px;
    margin-left: 5px;
    filter: invert(53%) sepia(9%) saturate(1011%) hue-rotate(209deg) brightness(95%) contrast(83%);
    cursor: pointer;
}

#subtitle {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.subtitle {
    width: 100%;
    font-family: 'Merriweather Sans';
    position: absolute;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: var(--text-color);
}

/* CCS Do card de perfil termina aqui */
/* ------------------------------------------------------------- */
/* CSS do card de meus projetos começa aqui ↓↓↓ */
.my-projects {
    position: absolute;
    width: 952px;
    height: 86px;
    left: 448px;
    top: 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-cards);
}
.projects-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.mp-text {
    position: relative;
    left: 30px;
    color: var(--text-color);
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}
.seeAll {
    position: absolute;
    right: 30px;
    color: var(--text-color);
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}
.posts {
    width: 100%;
    height: 186px;
    position: absolute;
    top: 117px;
    gap: 30px;
}
.main-post1 {
    position: absolute;
    width: 461px;
    height: 100%;
    background-color: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    align-items: center;
}
.main-post2 {
    position: absolute;
    width: 461px;
    height: 100%;
    background-color: var(--bg-cards);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    right: 0;
}

.main-post1 img, .main-post2 img {
    filter: invert(53%) sepia(9%) saturate(1011%) hue-rotate(209deg) brightness(95%) contrast(83%);
    position: relative;
    left: 30px;
    top: 30px;
}
.my-post-title { 
    position: absolute;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    left: 66px;
    top: 33px;
    color: var(--text-color);
}
.my-post-subtitle {
    color: var(--text-color);
    position: absolute;
    top: 70px;
    left: 30px;
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.feedback {
    position: absolute;
    left: 30px;
    top: 136px;
    display: flex;
    justify-content: flex-start;
    gap: 8px;
    text-align: center;
    align-items: center;
    
    
}
.feedback img {
    position: relative;
    width: 19px;
    height: 19px;
    left: 0;
    top: 0;
}
.count-number {

    color: var(--text-color);
    font-family: 'Merriweather Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}



/* CSS do card de meus projetos termina aqui */
